.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xx-small);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
}

.formLabel {
    font-size: var(--font-medium);
}

.formInput,
.formSelect {
    height: 40px;
    font-family: inherit;
    font-size: var(--font-medium);
}

.formInput {
    padding: 0 var(--spacing-x-small);
}

.fomrSelect {
    padding: 0 var(--spacing-xx-small);
}

.formErrorMessage {
    height: 18px;
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--error-color);
}