.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--spacing-xx-large);
}

.form {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xx-small);
    padding: var(--spacing-medium) var(--spacing-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    background-color: var(--form-color);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
}

.formLabel {
    font-size: var(--font-medium);
}

.formInput,
.formSelect {
    height: 40px;
    font-family: inherit;
    font-size: var(--font-medium);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
}

.formInput {
    padding: 0 var(--spacing-x-small);
}

.formSelect {
    padding: 0 var(--spacing-xx-small);
}

.formErrorMessage {
    height: 18px;
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--error-color);
}

.formButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-small);
    gap: var(--spacing-x-small);
}