.listContainer {
    width: 95%;
    max-width: 1024px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xx-small);
}

.emptyMessage {
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-top: var(--spacing-x-large);
}

@media screen and (min-width: 600px) {
    .list {
        max-width: none;
    }
}