.listItem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--form-color);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-small);
}

.itemContentGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--spacing-small) 0;
    gap: var(--spacing-x-small);
}

.itemContentHeading {
    font-weight: 600;
}

.itemButtonContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-x-small);
}

@media screen and (min-width: 600px) {
    .listItem {
        flex-direction: row;
    }

    .itemContentGroup {
        flex-direction: column;
    }

    .titleGroup {
        flex-basis: 24%;
    }

    .amountGroup {
        flex-basis: 20%;
    }

    .dateGroup {
        flex-basis: 22%;
    }

    .categoryGroup {
        flex-basis: 22%;
    }

    .itemButtonContainer {
        flex-basis: 12%;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 820px) {
    .itemContentGroup {
        flex-direction: row;
        align-items: center;
    }
}