@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_opsz.wght.ttf);
  font-weight: 400 600;
}

body {
  width: 100%;
  min-width: 350px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

button {
  height: 48px;
  width: auto;
  padding: 0 var(--spacing-large);
  border: none;
  border-radius: var(--border-radius-small);
  font-family: inherit;
  font-size: var(--font-medium);
}

.primary-button {
  background-color: var(--accent-color);
  color: var(--font-color-light);
}

.secondary-button {
  background-color: transparent;
}