@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter-VariableFont_opsz.wght.ttf);
  font-weight: 400 600;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 400 900;
}

body {
  width: 100%;
  min-width: 350px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

button {
  height: 48px;
  width: auto;
  padding: 0 var(--spacing-large);
  border: none;
  border-radius: var(--border-radius-small);
  font-family: inherit;
  font-size: var(--font-medium);
}

.primary-button {
  background-color: var(--accent-color);
  color: var(--font-color-light);
}

.primary-button:hover {
  background-color: var(--hover-color-accent);
}

.primary-button:active {
  background-color: var(--active-color-accent);
}

.secondary-button {
  background-color: transparent;
}

.secondary-button:hover {
  background-color: var(--hover-color);
}

.secondary-button:active {
  background-color: var(--active-color);
}

.icon-button {
  height: 48px;
  width: 48px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  font-size: var(--font-medium);
}

.icon-button:hover {
  background-color: var(--hover-color);
}

.icon-button:active {
  background-color: var(--active-color);
}