:root {
    /****** background ******/
    --background-color: #242424;

    /****** font color ******/
    --font-color-light: #FFFFFF;
    --font-color-dark: #242424;

    /****** accent color ******/
    --accent-color: #147EFF;

    /****** error color ******/
    --error-color: #e52d2d;

    /****** interaction ******/
    --hover-color: #fafafa;
    --active-color: #f5f5f5;
    --hover-color-accent: #0a78ff;
    --active-color-accent: #0073ff;

    /****** spacing ******/
    --spacing-xx-small: 0.25rem;
    --spacing-x-small: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
    --spacing-xx-large: 4rem;

    /****** border radius ******/
    --border-radius-small: 0.25rem;
    --border-radius: 2rem;

    /****** font body ******/
    --font-small: 0.875rem;
    --font-medium: 1rem;
    --font-large: 1.25rem;
    --font-x-large: 1.5rem;

    /****** font heading ******/
    --heading-small: 1.5rem;
    --heading-medium: 2rem;
    --heading-large: 2.25rem;
    --heading-x-large: 3rem;
}