.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-x-large) 0;
}

.footerParagraph {
    color: var(--font-color);
    font-size: var(--font-medium);
}